.bets {
  display: inline;

  color: #9E86F4;

}
.perHoleCost{
  display: block;
}
H1{
  padding: 5px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  text-align: center

}


#btn{
  border-radius: 4px;
    padding: 10px;
    height: 50px;
    width: 150px;
    background-color: #70486d;
    color: white;
    font-weight: bold;
    border: none;
    align-items: center;
}

#btn:hover, #btn-players:hover{
  background-color: #D9C3D7;
}


#btn-players {
  border-radius: 8px;
  height: 25px;
  width: 75px;
  background-color: #70486d;
  color: white;
  font-weight: bold;
  border: none;
  align-items: center;
}
.perClosestCost{
  display: block;

}
.perLongestCost{
  display: inline-block;

}

.holesWon{
  display: inline-block;
  padding: 4%;

}
label {
  font-size: 10px;
  color: #BFBFBD;
}

.lds{
  padding: 4%;
  display: inline-block

}
.kps{
  padding: 4%;
  display: inline-block;
}
  #playerInputs, #betInputs, #playerOutput {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  #playerInputs td, #betInputs td , #playerOutput td{
    border: 1px solid #ddd;
    padding: 8px;

  }
  #playerInputs td input {


  }

  #playerInputs tr:nth-child(even){background-color: #f2f2f2;}
  #betInputs tr:nth-child(even){background-color: #f2f2f2;}
  #playerOutput tr:nth-child(even) {background-color: #f2f2f2;}


  #playerInputs tr:hover {background-color: #ddd;}
  #betInputs tr:hover {background-color: #ddd;}
  #playerOutput tr:hover {background-color: #ddd;}

  #playerInputs th {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    text-align: left;
    background-color: #9E86F4;
    color: white;
  }

  #betInputs th {
    padding-top: 12px;
    padding-left: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #30d5c8;
    color: white;
  }



  #playerOutput th {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    text-align: left;
    background-color: #d1b866;
    color: white;
  }
